<%= form_for remainder do |f| %>
  <%= render 'common/errors', resource: remainder %>
  <form>
    <div class="form-group">
      <%= f.label :product_id, "Товар" %><br />
      <%= f.collection_select :product_id, Product.where(company_id: current_user.company_id), :id, :title, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :remainder, "Количество" %><br />
      <%= f.text_field :remainder, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Создать", class: 'btn btn-primary'%>
    </div>
  </form>
<% end %>
