<tr>
  <td><%= shop.accounting_system_code %></td>
  <td><%= shop.title %></td>
  <td><%= shop.address %></td>
  <td><%= shop.longitude %></td>
  <td><%= shop.latitude %></td>
  <td>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <%= link_to 'Изменить', edit_shop_path(shop), class: "btn btn-default" %>
      <%= link_to 'Удалить', shop, method: :delete, data: { confirm: 'Вы уверены?'}, class: "btn btn-default" %>
    </div>
  </td>
</tr>
