<%= form_for user do |f| %>
  <%= render 'common/errors', resource: user %>
  <form>
    <div class="form-group">
      <%= f.label :name, "Имя пользователя" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control text-capitalize", placeholder: 'Иван Человеков' %>
    </div>

    <div class="form-group">
      <%= f.label :office, "Должность" %><br />
      <%= f.text_field :office, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "e-mail" %><br />
      <%= f.email_field :email, class: "form-control", placeholder: 'somebody@example.com' %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <p><small><i>Минимум 6 символов</i></small><%= f.password_field :password, autocomplete: "off", class: "form-control" %></p>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <%= f.hidden_field :confirmed_at, :value => Time.now + 30 %>
    <%= f.hidden_field :company_id, :value => current_user.company.id %>

    <div class="actions">
      <%= f.submit "Создать", class: 'btn btn-primary'%>
    </div>
  </form>
<% end %>
