<h1><i class="fa fa-users" aria-hidden="true"></i> Пользователи</h1>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>e-mail</th>
      <th>Должность</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate @users %>
<br>
<%= link_to "Домой", root_path %>
<br>
<%= link_to "Создать пользователя", new_user_path %>
<br>
<%= link_to "Торговые агенты", sales_agents_path %>
