<%= form_for price_list do |f| %>
  <%= render 'common/errors', resource: price_list %>
  <form>
    <div class="form-group">
      <%= f.label :product_accounting_system_code, "Товар" %><br />
      <%= f.collection_select :product_accounting_system_code, Product.where(company_id: current_user.company_id), :accounting_system_code, :title, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :price_type_accounting_system_code, "Тип цен" %><br />
      <%= f.collection_select :price_type_accounting_system_code, PriceType.where(company_id: current_user.company_id), :accounting_system_code, :title, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :price, "Цена" %><br />
      <%= f.number_field :price, step: 0.01, class: "form-control text-right", placeholder: '0,00' %>
    </div>

    <div class="actions">
      <%= f.submit "#{price_list.new_record? ? 'Создать' : 'Изменить'}", class: 'btn btn-primary'%>
    </div>
  </form>
<% end %>
