<%= form_for company do |f| %>
  <%= render 'common/errors', resource: company %>
  <form>
    <div class="form-group">
      <%= f.label :name, "Название компании" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Создать", class: 'btn btn-primary'%>
    </div>
  </form>
<% end %>
