<p><strong>Данные о компании</strong></p>
<p>ID: <%= @company.id %></p>
<p>Наименование: <%= @company.name %></p>
<p>БИН: <%= @company.bin %></p>
<p>Телефон: <%= @company.phone %></p>
<p>Адрес: <%= @company.address %></p>

<%= link_to 'Домой', root_path %>
<%= link_to 'Редактировать', edit_company_path %>
