<p><strong>Данные о компании</strong></p>
<p><%= @company.id %></p>
<p><%= @company.name %></p>
<p><%= @company.bin %></p>
<p><%= @company.phone %></p>
<p><%= @company.address %></p>

<%= link_to 'Домой', root_path %>
<%= link_to 'Редактировать', edit_company_path %>
