<tr>
  <td><%= current_user.company.shops.where(asc: order_header.shop_asc).first.title %></td>
  <td><%= order_header.sum %></td>
  <td><%= order_header.current_date.to_date %></td>
  <td><%= order_header.delivery_date.to_date %></td>

  <td>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <%= link_to 'Показать', order_header_path(order_header), class: "btn btn-default" %>
    </div>
  </td>
</tr>
