<p><strong>Заявка</strong></p>
<p><%= current_user.company.shops.where(asc: @order_header.shop_asc).first.title %></p>
<p><%= @order_header.sum %></p>
<p><%= @order_header.current_date.to_date %></p>
<p><%= @order_header.delivery_date.to_date %></p>

<% @order_header.order_tables.each do |order_table| %>
  <tr>
    <% if current_user.company.products.where(asc: order_table.product_asc).present? %>
      <td>Наименование: <%= current_user.company.products.where(asc: order_table.product_asc).first.title %></td>
    <% else %>
      <td>Пропал товар, нашедшему вернуть</td>
    <% end %>
    <td>Цена: <%= order_table.price %></td>
    <td>Количество: <%= order_table.count %></td>
    <td>Сумма: <%= order_table.cost %></td>
  </tr>
<% end %>

<%= link_to 'Домой', root_path %>
<%= link_to 'Редактировать', edit_order_header_path %>
