<p><strong>Загрузка данных</strong></p>
<% if @load_event.remainders.present? %>
  <h3>Остатки:</h3>
  <% @load_event.remainders.each do |remainder| %>
   <p>Название: <%= remainder.product.title %>, Количество: <%= remainder.remainder %></p>
  <% end %>
<% else %>
  <h3>Цены:</h3>
  <% @load_event.price_lists.each do |price| %>
    <p>Название: <%= price.product.title %>, Цена: <%= price.price %></p>
  <% end %>
<% end %>
<br>
<%= link_to 'Назад', load_events_path %>
<br>
<%= link_to 'Домой', root_path %>
