<h1><i class="fa fa-retweet" aria-hidden="true"></i> Маршруты</h1>

<div class="progress" style="height: 20px;">
  <div
    class="progress-bar progress-bar-striped progress-bar-warning"
    role="progressbar"
    aria-valuenow="<%= 100 / current_user.company.shops.count * current_user.company.shops.includes(:routes).where.not(routes: { shop_id: nil }).count %>"
    aria-valuemax="100"
    style="width: <%= 100 / current_user.company.shops.count * current_user.company.shops.includes(:routes).where.not(routes: { shop_id: nil }).count %>%"
    >
    <%= 100 / current_user.company.shops.count * current_user.company.shops.includes(:routes).where.not(routes: { shop_id: nil }).count %>%
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Торговый агент</th>
      <th>День недели</th>
      <th>Торговая точка</th>
      <th>Порядковый номер</th>
    </tr>
  </thead>
  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<%= will_paginate @routes, renderer: BootstrapPagination::Rails %>
<br>
<%= link_to "Домой", root_path, class: 'btn btn-default btn-large' %>
<%= link_to "Создать маршрут", new_route_path, class: 'btn btn-primary btn-large' %>
