<tr>
  <td><%= product.asc %></td>
  <td><%= product.title %></td>
  <td><%= product.barcode %></td>
  <td><%= current_user.company.categories.where(asc: product.category_asc).first.title %></td>
  <% if current_user.company.brands.where(asc: product.brand_asc).present? %>
    <td><%= current_user.company.brands.where(asc: product.brand_asc).first.title %></td>
  <% else %>
    <td>--</td>
  <% end %>
</tr>
