<tr>
  <td><%= product.accounting_system_code %></td>
  <td><%= product.title %></td>
  <td><%= product.barcode %></td>
  <td><%= product.category.title %></td>
  <% if product.brand.present? %>
    <td><%= product.brand.title %></td>
  <% else %>
    <td>--</td>
  <% end %>
</tr>
