<tr>
  <td><%= product.accounting_system_code %></td>
  <td><%= product.title %></td>
  <td><%= product.barcode %></td>
  <td><%= product.product_group.title %></td>
  <td><%= product.created_at %></td>
  <td><%= link_to 'Показать', product_path(product), class: "btn btn-default" %></td>
  <td><%= link_to 'Изменить', edit_product_path(product), class: "btn btn-info" %></td>
  <td><%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверены?'}, class: "btn btn-danger" %></td>
</tr>
