<h1><i class="fa fa-gift" aria-hidden="true"></i> Товары</h1>
<p><%= link_to "Поиск", new_search_path, class: 'btn btn-lg btn-warning' %></p>
<table class="table">
  <thead>
    <tr>
      <th>КУС</th>
      <th>Название</th>
      <th>Штрихкод</th>
      <th>Группа</th>
      <th>Бренд</th>
      <th>Остаток</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
<br>
<%= link_to "Домой", root_path %>
<br>

<h4>Загрузить товары:</h4>

<div class="form-group">
  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <p class="help-block">Выберите файл *.csv, *.xls или *.xlsx.</p>
    <%= submit_tag "Загрузить", class: 'btn btn-default' %>
  <% end %>
</div>
