<p><strong>Товар</strong></p>
<p><%= @product.title %></p>
<p><%= @product.barcode %></p>
<p><%= @product.product_group %></p>
<p><%= @product.timestamp %></p>

<%= link_to 'Домой', root_path %>
<%= link_to 'Редактировать', edit_product_path %>
