<p><strong>Товар</strong></p>
<p><%= @product.title %></p>
<p><%= @product.barcode %></p>
<p><%= @product.product_group.title %></p>
<p><%= @product.created_at %></p>

<%= link_to 'Домой', root_path %>
<%= link_to 'Редактировать', edit_product_path %>
