<div class="col-lg-3 section">
  <% if user_signed_in? %>
    <% if can? :manage, User %>
      <%= link_to 'Пользователи', users_path, class: "btn btn-success btn-lg btn-block unit" %>
    <% end %>
    <%= link_to 'Товары', users_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Магазины', shops_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Торговые агенты', sales_agents_path, class: "btn btn-success btn-lg btn-block unit" %>
    <% if current_user.company.present? %>
      <%= link_to 'Профиль компании', company_path(current_user.company), class: "btn btn-success btn-lg btn-block unit" %>
    <% end %>
  <% end %>
</div>
