<div class="col-lg-3 section">
  <% if user_signed_in? %>
    <%= link_to 'Категории товаров', product_types_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Группы товаров', product_groups_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Бренды', brands_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Товары', products_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Загрузка данных', load_events_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Остатки', remainders_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Магазины', shops_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Типы цен', price_types_path, class: "btn btn-success btn-lg btn-block unit" %>
    <%= link_to 'Цены', price_lists_path, class: "btn btn-success btn-lg btn-block unit" %>

  <% end %>
</div>
